<h1>Iniciar sesion</h1>

<form class="ui form" id="login" method="post">
  <div class="field">
    <label>Nombre de usuario</label>
    <input name="username" placeholder="Nombre de usuario" value="" type="text">
  </div>
  <div class="field">
    <label>Contraseña</label>
    <input name="password" placeholder="Contraseña" value="" type="password">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>

<script type="text/javascript">
const formLogin = document.querySelector('#login');
// const formData = new FormData(formLogin);
formLogin.addEventListener('submit', e => {
  e.preventDefault();
  const children = e.target.children;
  const data = {
    username: children[0].children[1].value,
    password: children[1].children[1].value,
  };
  const formData = new FormData();
  formData.append('username', data.username);
  formData.append('password', data.password);
  fetch('/api/auth/login', {
    method: 'POST',
    body: formData,
  })
    .then(res => res.json())
    .then(data => {
      localStorage.setItem('token', data.token);
    });
});
</script>
